<app-navigation> </app-navigation>
<div class="container">
  <h1 style="text-align: center;">Reset Password</h1>

  <!-- enquire password reset -->
  <div *ngIf="request" class="formContainer">
    <form (ngSubmit)="requestResetPassword()">
      <p style="color: red;" *ngIf="resetError" id="response">{{errorMessage }}</p>
      <h3 style="color: blue;font-size:30px;" *ngIf="resetSuccess" id="response">{{successMessage }}</h3>
      <label style="font-size: 20px;">Email address</label>
      <input type="email" placeholder="example@gmail.com" [(ngModel)]="email" name="email">
      <button type="submit" *ngIf="requestButton">Reset Password</button>
    </form>

  </div>
  <!-- reset password -->
  <div *ngIf="reset" class="formContainer">
    <form (ngSubmit)="resetPassword()">

      <p style="color: red;" *ngIf="resetError" id="response">{{errorMessage }}</p>
      <div *ngIf="resetSuccess" class="success" >
        <p style="color: blue;"  id="response">{{successMessage }}</p>
      </div>

      <label>Email address</label>
      <input type="email" placeholder="example@gmail.com" [(ngModel)]="email" name="email">
      <label>Token from Email</label>
      <input type="text" placeholder="token" [(ngModel)]="token" name="token">
      <label>New Password</label>
      <input type="password" placeholder="password" [(ngModel)]="newPassword" name="newPassword">
      <label>ConfirmPassord</label>
      <input type="password" placeholder="ConfirmPassord" [(ngModel)]="confirmPassword" name="confirmPassord">
      <button type="submit" *ngIf="resetButton">Reset Password</button>

    </form>

  </div>


  <div *ngIf="back" class="formContainer">
    <form (ngSubmit)="resetPassword()">
      <div class="back">
        <h2>Go back and login in with your new Password</h2>
        <a  routerLink="/signin" style="font-size: large;">Back</a>
      </div>
    </form>

  </div>
</div>
